

<div style="margin:10px;">
    <h3 class="col-md-12">Cocktail Explorer Quiz</h3>

    <div id="question" class="col-md-8"></div>

    <div class="col-md-2" id="score"></div>

    <div id="cocktail" class="col-md-12" style="display:table-row-group; border-bottom:solid 1px white; margin-bottom:5px;"></div>

    <div class="col-md-4">
        <ul id="ingredients" class="list-group IngredientList"></ul>
    </div>

    <div class="col-sm-3">
        <div id="answer1" class="answers"></div>
        <div id="answer2" class="answers"></div>
        <div id="answer3" class="answers"></div>
        <div id="answer4" class="answers"></div>
    </div>
</div>

@section scripts
    {
    <script>
        var url = 'https://localhost:44385/api/Questions/random';
        var correctanswer = 'none';
        var score = 0;

        $(document).ready(function () {
            $.getJSON(url)
                .done(function (data) {
                    GetQuestionData(data)
                });
        });

        $(document).ready(function () {
            $(".answers").on('click', function (data) {
                if (data.currentTarget.innerText == correctanswer)
                    score = score + 1;
                $.getJSON(url)
                    .done(function (data) {
                        ClearAll()
                        GetQuestionData(data)
                    });
            });
        });


        function GetQuestionData(data) {
            if (data.partial == "GuessCocktail") {
                GetGuessCocktailData();
            }
            else if (data.partial == "GuessIngredient") {
                GetGuessIngredientData();
            }
            else if (data.partial == "GuessOrigin") {
                GetGuessOriginData();
            }
            $('<p>', { text:'Score : '+ score.toString() }).appendTo($('#score'));
            $('<h4>', { text: data.question }).appendTo($('#question'));
        }

        var irl = 'https://localhost:44385/api/Questions';

        function GetGuessCocktailData() {
            fetch(irl + '/guesscocktail')
                .then(responds => responds.json())
                .then(function (data) {
                    correctanswer = data.cocktail.name;
                    SetIngredients(data)
                    SetAnswers(data)
                })
        };

        function GetGuessIngredientData() {
            fetch(irl + '/guessingredient')
                .then(responds => responds.json())
                .then(function (data) {
                    correctanswer = data.correctanswer;
                    SetCocktail(data)
                    SetIngredients(data)
                    SetAnswers(data)
                })
        };
        
        function GetGuessOriginData() {
            fetch(irl + '/guessorigin')
                .then(responds => responds.json())
                .then(function (data) {
                    correctanswer = data.cocktail.origin;
                    SetCocktail(data)
                    SetAnswers(data)
                })
        }

        function ClearAll() {
            $('#question').empty();
            $('#ingredients').empty();
            $('#cocktail').empty();
            $('#answers').empty();
            $('#answer1').empty();
            $('#answer2').empty();
            $('#answer3').empty();
            $('#answer4').empty();
            $('#score').empty();
        }

        function formatItem(item) {
            return item.name + ' ' + item.volume + ' ' + item.dosage;
        }

        function SetCocktail(data) {
            $('<h4>', { text:'Cocktail : '+ data.cocktail.name }).appendTo($('#cocktail'));
        }

        function SetIngredients(data) {
            $.each(data.cocktail.ingredients, function (key, item) {
                debugger;
                $('<li>', { text: formatItem(item) })
                    .appendTo($('#ingredients'));
            })
        }

        function SetAnswers(data) {
            debugger;
            $('<button>', { text: data.answer1 })
                .appendTo($('#answer1'));

            $('<button>', { text: data.answer2 })
                .appendTo($('#answer2'));

            $('<button>', { text: data.answer3 })
                .appendTo($('#answer3'));

            $('<button>', { text: data.answer4 })
                .appendTo($('#answer4'));
        }

    </script>
}

