@using CExplorerService.lib.Models
@model QuestionBase

<div>
    <h3 class="col-md-12">Cocktail Explorer Quiz</h3>

    <div id="question" class="col-md-12"></div>

    <div id="cocktail" class="col-md-12"></div>

    <div class="col-md-12">
        <ul id="ingredients" class="list-group IngredientList"></ul>
    </div>




    <div class="col-md-12">
        <button class="nextbtn">Next</button>
    </div>
</div>


@section scripts
{
    <script>
        var url = 'https://localhost:44385/api/Questions/random';

        $(document).ready(function () {
            $.getJSON(url)
                .done(function (data) {
                    GetQuestionData(data)
                });
        });

        $(document).ready(function () {
            $(".nextbtn").on('click', function () {
                $.getJSON(url)
                    .done(function (data) {
                        ClearAll()
                        GetQuestionData(data)
                    });
            });
        });

        function GetQuestionData(data) {
            if (data.partial == "GuessCocktail") {
                GetGuessCocktailData();
            }
            else if (data.partial == "GuessIngredient") {
                GetGuessIngredientData();
            }
            else if (data.partial == "GuessOrigin") {
                GetGuessOriginData();
            }
            $('<h4>', { text: data.question }).appendTo($('#question'));
        }
        
        var Curl = 'https://localhost:44385/api/Cocktails';
        var Iurl = 'https://localhost:44385/api/Ingredients';

        function GetGuessCocktailData() {
            fetch(Curl + '/random')
                .then(responds => responds.json())
                .then(function (data) {
                    //save correct answer here, + set list ingred 
                    fetch(Curl + '/randomlist' + data('id'))
                        .then(responds => responds.json())
                        .then(function (data) {
                            //set answers here
                        });
                });
            //get list ingredients
            //get 4 unique cocktqails
            //get correct answer
        }

        function GetGuessIngredientData() {
        }

        function GetGuessOriginData() { 
        }

        function ClearAll() {
            $('#question').empty();
            $('#ingredients').empty();
            $('#cocktail').empty();
            $('#question').empty();
        }
    </script>
}

