
<h2>HOME</h2>

<main class="col-md-12 text-center modal-content" style="padding:10px; margin:10px;">
    <div>
        <h3 class="text-center">Welcome to the Cocktail Explorer</h3>
        <p>On this site you can learn all about cocktails through a serie of quiz questions.</p>
        <p>Or though our cocktail recipe list</p>
    </div>
</main>