@using CExplorerService.lib.DTO
@model List<CocktailBasic>


<div class="col-md-12">
    <div class="col-md-4">
        <h2>Recipes</h2>
        <ul class="list-group">
            @foreach (CocktailBasic cocktail in Model)
            {
                <li>
                    <b><a href="#" data-id="@cocktail.Id" class="Cocktail">@cocktail.Name</a></b>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Ingredients</h2>
        <ul id="ingredients" class="list-group"></ul>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {

            var url = 'https://localhost:44385/api/Ingredients/basic';

            $(".Cocktail").on('click', function () {
                $.getJSON(url + '/' + $(this).data('id'))
                    .done(function (data) {
                        $.each(data, function (key, item) {
                            $('<li>', { text: formatItem(item) })
                                .appendTo($('#ingredients'));
                        })
                    });
                $('#ingredients').empty();
            });
        });

        function formatItem(item) {
            return item.name + ' ' + item.volume + ' ' + item.dosage;
        }
    </script>
}  