/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-color: #c0c0c0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top:40px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.CECarousel img {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 450px;
    max-height: 450px;
    height: 450px;
}
.CECarousel {
    border-bottom: solid 20px #222222;
    border-top: solid 20px #222222;
}
.CENavBar {
    position: absolute;
    left:0px;
    margin: 0 auto;
    width: 100%;
    border-radius: 0px;
    font-size: 20px;
}

.Footer {
    bottom: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #222222;
    border-bottom: none;
    max-height: calc(100% - 400px);
    overflow: auto;
    padding-top: 30px;
    color: #9d9d9d;
}


.container {
    letter-spacing: 1px;
}

.container-admin {
    margin-left: 25px;
    letter-spacing: 1px;
}

.Cocktail {
    color: #333333;
    font-size: large;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
.Cocktail :hover{
    color: black;
}
li {
    list-style-type: none;
    margin: 5px;
    color: #333333;
    font-size: large;
    padding: 0;
}
a:hover {
    color: black;
}

answers {

}
button {
    color: #9d9d9d;
    background-color: #222222;
    border-color: black;
    border: solid 1px black;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 17px;
}